.nav {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.5em;
}

.navLinks {
  display: flex;
  justify-content: start;
}

.links {
  text-decoration: none;
}
